<div style="height: 100%;">
    <div class="display-flex align-items-center">
        <img style="width: 50px; height: 50px; object-fit: cover; border-radius: 100%;" src="assets/users/user.jpg">
        <div style="font-size: 14px; margin-left: 5px;">
            <b>Michael <i class="fa fa-edit"></i></b>
            <p>Example&#64;gmail.com</p>
        </div>
    </div>
    <div class="menu-box" style="margin-top: 10px;">
        <div class="menu-item">
            <i class="fa fa-bell" style="font-size: 20px;"></i>
            <p style="margin-left: 15px;">Notification Settings</p>
            <i class="fa fa-angle-right" style="margin-left: auto;"></i>
        </div>
        <div class="menu-item">
            <i class="fa fa-sign-out" style="font-size: 20px;"></i>
            <p style="margin-left: 15px;">Sign out</p>
        </div>
    </div>
</div>
