<div class="sidebar">
    <div class="brands">
        <img src="assets/main-icons/brands.png" style="width: 25px; height: auto;">
        <p class="font-black" style="margin-left: 5px;">BuddyBills</p>
    </div>
    <div class="menu-group">
        <div class="menu-items active">
            <i class="fa fa-users"></i>
            <p>Groups</p>
        </div>
        <div class="menu-items">
            <i class="fa fa-cog"></i>
            <p>Settings</p>
        </div>
    </div>
</div>
<div class="navbar">
    <div class="right-list">
        <div class="menu-items" (click)="modalActive(true, 'friends')">
            <i class="fa fa-user"></i>
        </div>
        <div class="menu-items" (click)="modalActive(true, 'notification')">
            <i class="fa fa-bell"></i>
        </div>
        <div class="menu-items" style="width: 40px; height: 40px;" (click)="modalActive(true, 'profile')">
            <img src="assets/users/user.jpg" style="width: 40px; height: 40px; object-fit: cover; border-radius: 100%;">
        </div>
    </div>
</div>
<div class="content">
    <app-group-component></app-group-component>
</div>

<div class="modal display-flex display-none" (click)="modalActive(false, null)">
    <div *ngIf="modaltarget == 'friends'" class="left-content" (click)="$event.stopPropagation()">
        <app-friends-component></app-friends-component>
    </div>
    <div *ngIf="modaltarget == 'notification'" class="left-content" (click)="$event.stopPropagation()">
        <app-notification-component></app-notification-component>
    </div>
    <div *ngIf="modaltarget == 'profile'" class="left-content" (click)="$event.stopPropagation()">
        <app-profile-component></app-profile-component>
    </div>
</div>