<div class="webpage display-flex align-items-center justify-contents-center">
    <div class="box-content-responsive text-align-center">
        <img src="assets/main-icons/brands.png" style="width: 100px; height: auto;">
        <h2 class="font-grey">BuddyBills</h2>
        <div class="button background-green font-white" style="width: 100%; margin-top: 20px;" (click)="signUp()">Sign-Up</div>
        <div class="button background-dark font-white" style="width: 100%; margin-top: 10px;" (click)="signIn()">Sign-In</div>
    </div>
    <div class="bottom-content">
        <p class="font-grey">BuddyBills <a class="font-black pointer">Terms of Services</a> and <a class="font-black pointer">Privacy Policy</a></p>
    </div>
</div>

