<div style="height: 100%;">
    <p>Notifications</p>
    <div class="notification-list" style="margin-top: 10px;">
        <div class="item waitforread">
            <img src="assets/users/user.jpg" class="img">
            <div style="margin-left: 5px; font-size: 11px;">
                <b>Ake</b>
                <p>mentioned you in ‘Group name’ to</p>
                <p style="color: #f75961;">Pay new bill: ฿ 50.00</p>
            </div>
            <div class="position-absolute" style="margin-left: auto; font-size: 8px; top: 5px; right: 5px;">
                21 mins
            </div>
        </div>
        <div class="item">
            <img src="assets/users/user.jpg" class="img">
            <div style="margin-left: 5px; font-size: 11px;">
                <b>Ake</b>
                <p style="color: #59d161;">Paid your bill: ฿ 50.00</p>
                <p>in ‘Group name’ to</p>
            </div>
            <div class="position-absolute" style="margin-left: auto; font-size: 8px; top: 5px; right: 5px;">
                5 hrs
            </div>
        </div>
        <div class="item">
            <img src="assets/users/user.jpg" class="img">
            <div style="margin-left: 5px; font-size: 11px;">
                <b>Every one mention in</b>
                <p style="color: #59d161;">‘Bill name’ with a total of ฿ 150.00</p>
                <p>has paid successfully</p>
            </div>
            <div class="position-absolute" style="margin-left: auto; font-size: 8px; top: 5px; right: 5px;">
                5 hrs
            </div>
        </div>
    </div>
</div>
